html, body  {
    transition: 2s;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #6e4c96;
}
#content    {
    width: 100%;
    height: 100%;
}
.navbar {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    margin: 0;
    font-size: 50px;
    font-family: sans-serif ;
}
.QuoteBlockParent   {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.QuoteBlock {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.quote  {
    margin: 10px;
    font-size: 35px;
}
.author {
    font-size: 30px;
}
.author p   {
    text-align: right;
}
.cat_tab    {
}
.cat_list    {
    list-style-type: none;

}
.cat_list_element   {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.cat_list_element:hover {
    color: rgba(0, 0, 0, 0.5);
}
.btnBlock   {
    display: flex;
    flex-direction: row;
}
.btn    {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.btn:active{
    color: #7b68ee;
}
.new_quote  {
    font-weight: 400;
    transition: 0.5s;
    color: #000;
    background-color: #fff;
}
.new_quote:hover    {
    color: #fff;
    background-color: #000;
}
.new_quote:active   {
    color: #fff;
    background-color: #000;
}
.tweet_btn  {
    font-weight: 400;
    transition: 0.5s;
    color:  #55acee;
}
.tweet_btn:hover    {
    color: #fff;
    background-color: #55acee;
}
.footer {
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 70%;
    bottom: 0;
    position: relative;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.fbtn   {
    display: inline-block;
    padding: 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
}
.fbtn:hover {
    color: rgba(0, 0, 0, 0.5)
}